* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
}

nav {
    /* background-color: rgb(243, 24, 243); */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 20px;
    color: white;
}

.container {
    /* background-color: black; */
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.row input {
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 25px;
    border: 2px solid black;
    text-align: right;
}

.button {
    height: 53px;
    width: 53px;
    margin: 5px 4px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: bolder;
}

.bg-y {
    background-color: yellow;
}